
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">My PhotoApplication</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="UserService.user | async">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/albums/recent']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['create']">create Album </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/photo/photoId']">Photo details</a>
          </li>
        </ul>
    </div>
    </div>
    <div class="float-start" style="padding-right:30px;" *ngIf="UserService.user | async">
      <button type="button" class="btn btn-secondary" [routerLink]="['/login']" (click)="signOut()" >Logout</button>
    </div><br>
  </nav>
 <div *ngFor="let message of messageservice.messages">
    <div class="alert alert-danger" role="alert">
    {{message}}
    </div>
 </div>

 <div *ngIf="messageservice.messages.length">
  <button type="button" class="btn btn-info" (click)="clearMessages()">Clear</button>
 </div> 
<router-outlet></router-outlet>
